<div class="c-2 w-100">
    <div class="row mb-10">
        <div class="col-3">
            <h6>Book Your Slot</h6>
        </div>
        <div class="col-2"></div>
        <div class="col-2">
            <h6>FAQs</h6>
        </div>
        <div class="col-2"></div>
        <div class="col-3">
            <h6>Download Certificate</h6>
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <h6 routerLink="/centers">Search Center</h6>
        </div>
        <div class="col-2"></div>
        <div class="col-2">
            <h6>Contact US</h6>
        </div>
        <div class="col-2"></div>
        <div class="col-3">
            <h6>Report Problem</h6>
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <h6>9999999999</h6>
        </div>
        <div class="col-2"></div>
        <div class="col-2">
            <h6>covac&#64;gov.in</h6>
        </div>
        <div class="col-2"></div>
        <div class="col-3">
            
        </div>
    </div>
</div>
<div class="c-1 w-100">
    <div class="text-center">
        <h6>CopyRights &#169; 2021 CO-VAC. All rights Reserved </h6>
    </div>
</div>