<div class="cont p-5 d-flex align-items-center justify-content-center">
    <div class="col-lg-4 d-none d-lg-block">
        <img src="https://www.freepnglogos.com/uploads/modi-png/clip-arts-and-images-india-narendra-modi-modiji-3.png" alt="" class="img-1">
    </div>
    <div class="col-lg-3"></div>
    <div class="col-md-8 col-lg-4">
        <div class="forms-1 text-center">
            <!-- <div class="heading">
                <h5 class="mb-4 mt-5">Admin LogIn</h5>
            </div> -->
            <div class="forms text-center">
                <!-- <button type="button" class="btn btn-primary mb-3" routerLink="/admin-log">Admin Login</button>
                <button type="button" class="btn btn-secondary mb-3">Citizen Login</button>
                <p>Don't have an account? <a href="#">Sign Up</a></p> -->
                <h5 class="mb-4 mt-5">Register/Log In</h5>
            <div class="forms text-center">
                <button type="button" class="btn btn-primary mb-3" routerLink="/admin-log">Admin Login</button>
                <button type="button" class="btn btn-secondary mb-3" routerLink="/citizen-login">Citizen Login</button>
                <p>Don't have an account? <a routerLink="/sign-up">Sign Up</a></p>
            </div>
            </div>
        </div>
    </div>
</div>
