.accordation-item{
    cursor: pointer;
}
.ques{
    cursor: pointer;
}
.ques:hover{
    color: orange;
}
.c-2{
    color: black;
    background-color: #EDFFFF;
    margin-bottom: 30px;
}
.mb-10{
    margin-bottom: 30px;
}
.green{
    color: #007C7C;
}
.large{
    font-size: 25px;
    font-weight: bolder;
}