<div class="cont p-5 d-flex align-items-center justify-content-center">
    <div class="col-lg-4 d-none d-lg-block">
        <img src="https://www.freepnglogos.com/uploads/modi-png/clip-arts-and-images-india-narendra-modi-modiji-3.png" alt="" class="img-1">
    </div>
    <div class="col-lg-3"></div>
    <div class="col-md-8 col-lg-4">
        <div class="forms-1 text-center">
            <div class="heading">
                <h5 class="mb-4 mt-5">Citizen LogIn</h5>
            </div>
            <div class="forms text-center">
                <!-- <button type="button" class="btn btn-primary mb-3" routerLink="/admin-log">Admin Login</button>
                <button type="button" class="btn btn-secondary mb-3">Citizen Login</button>
                <p>Don't have an account? <a href="#">Sign Up</a></p> -->
                <div class="form">
                    <form #adminForm="ngForm" (ngSubmit)="adminSubmit(adminForm)" class="text-center">
                    <div class="form-group">
                        <label for="id">Mobile Number</label>
                        <input type="text" class="form-control mt-2 mb-2" name="id" ngModel #id="ngModel" placeholder="Enter Your Mobile Number" required pattern="[0-9]*" (ngModelChange)="idErr($event)">
                        <div *ngIf="id.errors && id.touched" class="text-danger">
                            <div *ngIf="id.errors?.['required']">
                                This Field is Required
                            </div>
                            <div *ngIf="id.errors?.['pattern']">
                                Enter Valid Mobile number
                            </div>
                            <div *ngIf="id.errors?.['invalidId']">
                                Enter Valid Mobile number
                            </div>
                        </div>
                        
                    </div>
                    <!-- <div *ngIf="id.errors && id.touched" class="text-danger">
                        <div *ngIf="id.errors?.['required']">
                            This Field is Required
                        </div>
                        <div *ngIf="id.errors?.['pattern']">
                            Only Numbers are allowed
                        </div>
                        <div *ngIf="id.errors?.['max']">
                            Enter Valid Id
                        </div>
                    </div> -->
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="text" class="form-control mt-3 mb-2" required name="password" ngModel #password="ngModel" placeholder="Enter your Password" minlength="8">
                        <div *ngIf="password.errors && password.touched" class="text-danger">
                            <div *ngIf="password.errors?.['required']">
                                This Field is Required
                            </div>
                            <div *ngIf="password.errors?.['minlength']">
                                Enter a Valid Password
                            </div>
                        </div>
                    </div>
                    <div *ngIf="isActive">Password and number do not match</div>
                    <button class="btn btn-1 mt-2 mb-10" [disabled]="adminForm.invalid">Submit</button>
                    <p>Are you a Admin? <a routerLink="/admin-log">Admin</a></p>
                    <div class="mt-2">
                        <p>Not a registered citizen? <a routerLink="/sign-up">SignUp</a></p>
                    </div>
                </form>
                </div>
            </div>
        </div>
    </div>
</div>
