<div class="cont p-4">
    <div class="card card-1 shadow-sm p-3 mb-5 bg-white rounded">
        <div class="name d-flex mt-3">
            <img src="https://img.freepik.com/free-vector/site-stats-concept-illustration_114360-1434.jpg?size=626&ext=jpg" alt="" width="40px" height="40px">
            <h5 class="nm">Admin</h5>
        </div>
        <div class="info mt-3 mb-4" >
            <div class="col-4 text-center">
                <div class="topic">
                    ADMIN ID
                </div>
                <div class="content">
                    12124546
                </div>
            </div>
            <div class="col-4 text-center">
                <div class="topic">
                    NO OF CENTERS
                </div>
                <div class="content">
                    15
                </div>
            </div>
            <div class="col-4 text-center">
                <div class="topic">
                    CITY
                </div>
                <div class="content">
                    Chennai
                </div>
            </div>
        </div>
    </div>
    <div class="card card-1 shadow-sm p-3 mb-5 bg-white rounded">
        <div class="name d-flex mt-3">
            <img src="https://img.freepik.com/premium-vector/man-making-invoice-with-computer_18660-1193.jpg?size=626&ext=jpg" alt="" width="40px" height="40px">
            <h5 class="nm">Add Center</h5>
           
        </div>
        <div class=" c-1 text-center">
            <div class="text-center h-1">Add a Center</div>
            <form #f="ngForm" (ngSubmit)="onSubmit(f)">
                <div class="form-group">
                  <label for="id">Center Id</label>
                  <div class="form-control">
                    <input type="text" class="form-control mt-3 mb-2" required name="id" ngModel #id="ngModel" placeholder="Enter Center Id">
                  </div>
                </div>
                <div class="form-group">
                  <label for="name">Center Name</label>
                  <div class="form-control">
                    <input type="text" class="form-control mt-3 mb-2" required name="name" ngModel #name="ngModel" placeholder="Enter Center Name">
                  </div>
                </div>
                <div class="form-group">
                  <label for="location">Location</label>
                  <div class="form-control">
                    <input type="text" class="form-control mt-3 mb-2" required name="location" ngModel #location="ngModel" placeholder="Enter Location">
                  </div>
                </div>
                <div class="form-group">
                  <label for="totalSlots">Total Slots</label>
                  <div class="form-control">
                    <input type="number" class="form-control mt-3 mb-2" required name="totalSlots" ngModel #totalSlots="ngModel" placeholder="Enter Total Slots">
                  </div>
                </div>
                <div class="form-group">
                  <label for="availableSlots">Available Slots</label>
                  <div class="form-control">
                    <input type="number" class="form-control mt-3 mb-2" required name="availableSlots" ngModel #availableSlots="ngModel" placeholder="Enter Available Slots">
                  </div>
                </div>
                <!-- Repeat the following structure for each form field -->
                <button class="btn btn-1 mt-2 mb-10 btn-primary" [disabled]="f.invalid">Submit</button>
              </form>
              
        </div>
    </div>
</div>