<div class="cont p-4">
    <div class="card card-1 shadow-sm p-3 mb-5 bg-white rounded">
        <div class="name d-flex mt-3">
            <img src="https://img.freepik.com/free-vector/site-stats-concept-illustration_114360-1434.jpg?size=626&ext=jpg" alt="" width="40px" height="40px">
            <h5 class="nm">Admin</h5>
        </div>
        <div class="info mt-3 mb-4" >
            <div class="col-4 text-center">
                <div class="topic">
                    ADMIN ID
                </div>
                <div class="content">
                    12124546
                </div>
            </div>
            <div class="col-4 text-center">
                <div class="topic">
                    NO OF CENTERS
                </div>
                <div class="content">
                    15
                </div>
            </div>
            <div class="col-4 text-center">
                <div class="topic">
                    CITY
                </div>
                <div class="content">
                    Chennai
                </div>
            </div>
        </div>
    </div>
    <div class="card card-1 shadow-sm p-3 mb-5 bg-white rounded">
        <div class="name d-flex mt-3">
            <img src="https://img.freepik.com/premium-vector/man-making-invoice-with-computer_18660-1193.jpg?size=626&ext=jpg" alt="" width="40px" height="40px">
            <h5 class="nm">Add Center</h5>
           
        </div>
        <div class="container c-1">
            <div class="text-center h-1">Add a Center</div>
            <form action="" #f="ngForm" (ngSubmit)="onSubmit(f)">
                <div class="form-group">
                    <label for="id">Center Id</label>
                    <div class="form-control">
                        <input type="text">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>