<div class="container c-1">
    <div class="text-center">
        <h1 class="green large">Search Your Nearest Vaccination Center</h1>
        <button class="btn btn-1" routerLink="/centers">Search</button>
    </div>
</div>
<div class="container c-2 mt-10 w-100">
    <div class="row mt-5 w-100">
        <div class="col-5">
            <div class="heading-1 m-2">
                <h3 class="heading-1">Free COVID Vaccine</h3>
            </div>
            <div class="text">
                <p>Now Precaution dose for 18-59 age group free at Government Vaccination Center. </p>
            </div>
            <button class="btn btn-1 btn-book" routerLink="/centers">Book Your Slot</button>
        </div>
        <div class="col-7">
            <img src="https://www.cowin.gov.in/assets/images/free_covid_precaution_dose.svg" alt="" width="100%" height="350px">
        </div>
    </div>
</div>

<div class="c-3 mt-10 w-100 full-width">
    <div class="row mt-5 wid">
        <!-- <div class="col-5">
            <div class="heading-1">
                <h3>Free COVID Vaccine</h3>
            </div>
            <div class="text">
                <p>Now Precaution dose for 18-59 age group free at Government Vaccination Center. </p>
            </div>
            <button class="btn btn-1 btn-book">Book Your Slot</button>
        </div> -->
        <div class="col-6">
            <img src="https://www.cowin.gov.in/assets/images/reports-aefi.svg" alt="" width="90%" height="350px">
        </div>
        <div class="col-5 ">
            <div class="heading-1 m-2">
                <h3 class="heading-1" >Report Side Effect</h3>
            </div>
            <div class="text">
                <p>If you have experienced any side effect after COVID-19 vaccination, it can be reported on Co-WIN using your registered mobile number.  </p>
            </div>
            <button class="btn btn-1 btn-book" routerLink="/report">Report Now</button>
        </div>
    </div>
</div>
<div class="container c-4 w-100">
    <div class="row">
        <div class="col-5">
            <div class="heading-1 m-3">
                <h2 class="heading-1">Symptoms</h2>
            </div>
            <div class="text">
                <ul class="symptoms-list">
                    <li>Fever or chills</li>
                    <li>Cough</li>
                    <li>Shortness of breath or difficulty breathing</li>
                    <li>Fatigue</li>
                    <li>Muscle or body aches</li>
                    <li>Headache</li>
                    <li>New loss of taste or smell</li>
                    <li>Sore throat</li>
                    <li>Congestion or runny nose</li>
                    <li>Nausea or vomiting</li>
                    <li>Diarrhea</li>
                </ul>
            </div>
        </div>
        <div class="col-4"></div>
    <div class="col-3">
        <img src="https://img.freepik.com/free-vector/sneezing-concept-illustration_114360-6865.jpg?size=626&ext=jpg" alt="" height="100%" width="100%">
    </div>
    </div>
</div>