<div class="steps">
    <div class="container">
        <div class="text-center green large">
            Get vaccinated In 3 steps
        </div>
        <div class="row">
            <div class="card col-3">
                <div class="text-center">
                    <div class="card-title">
                        Step 1
                    </div>
                    <div class="card-img-top mt-2">
                        <img src="https://www.cowin.gov.in/assets/images/Step_1.svg" alt="" width="100%">
                    </div>
                    <div class="card-text mt-5 text-center p-2" width="100%">
                        <p class="inner">Book an Appoinment Online</p>
                    </div>
                </div>
            </div>
            <div class="card col-3">
                <div class="text-center">
                    <div class="card-title">
                        Step 2
                    </div>
                    <div class="card-img-top mt-2">
                        <img src="https://www.cowin.gov.in/assets/images/Step_2.svg" alt="" width="100%">
                    </div>
                    <div class="card-text mt-5 text-center p-2" width="100%">
                        <p class="inner">Get Vaccinated</p>
                    </div>
                </div>
            </div>
            <div class="card col-3 ml-5">
                <div class="text-center">
                    <div class="card-title">
                        Step 3
                    </div>
                    <div class="card-img-top mt-2">
                        <img src="https://www.cowin.gov.in/assets/images/Step_3.svg" alt="" width="100%">
                    </div>
                    <div class="card-text mt-5 text-center p-2" width="100%">
                        <p class="inner">Download your certificate Online</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
